<header class="site-header">
  <div class="fork-me">
    <a href="https://github.com/LiveSplit/LiveSplit" target="_blank"><img src="{{ site.imagesurl }}/forkme.png" alt="Fork Me on GitHub"></a>
  </div>
  <a class="banner" href="{{ site.baseurl }}/">
    <img class="banner-icon" src="{{ site.imagesurl }}/icon.svg" alt="LiveSplit">
    <div class="banner-text">
      <div class="banner-title">LiveSplit</div>
      <div class="banner-subtitle">A sleek, highly customizable timer for speedrunners</div>
    </div>
  </a>
  <div class="container-fluid">
    <ul class="nav nav-pills">
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for my_page in sorted_pages %}
        {% if my_page.title %}
          {% if my_page.title == page.title %}
            <li role="presentation" class="active">
          {% else %}
            <li role="presentation">
          {% endif %}
          <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>