<div class="sidebar">
    <div class="sidebar-title">Donations</div>
    <a class="donations" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R3Z2LGPKRNBNJ"><img src="{{ site.imagesurl }}/donate.png"/></a>
</div>
<div class="sidebar">
    <div class="sidebar-title">LiveSplit on Twitter</div>
    <a class="twitter-timeline" href="https://twitter.com/LiveSplit" data-widget-id="672594110910476289" data-chrome="noheader nofooter noborders noscrollbar transparent">Tweets by @LiveSplit</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>