<div class="sidebar">
    <div class="sidebar-title">Donations</div>
    <a class="donations" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R3Z2LGPKRNBNJ"><img
            src="{{ site.imagesurl }}/donate.png" alt="Donate" /></a>
</div>
<div class="sidebar">
    <div class="sidebar-title">LiveSplit on Twitter</div>
    <a class="twitter-timeline" data-height="600" data-theme="dark" data-chrome="noheader nofooter noborders noscrollbar transparent"
        href="https://twitter.com/LiveSplit">Tweets by LiveSplit</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
